<h2>upload a picture</h2>
<%= form_for(@picture, multipart: true) do |f| %>  
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload' %>
    <%= link_to 'Return to profile', '/', class: 'button' %>
  </div>
<% end %>
