<!DOCTYPE html>
<html>
  <head>
    <title>f-stop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="nav-container" class="container">
          <nav class="d-flex justify-content-between">

              <div id="nav-alerts" class="">
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
              </div>

              <div class="">
                <% if user_signed_in? %>
                    <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
                <% else %>
                    <% unless controller_name == "sessions" || controller_name == "registrations" %>
                      <%= button_to('Login', new_user_session_path, method: :get)  %>
                    <% end %>
                <% end %>
              </div>

          </nav>
        </div>
      </div>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
